{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link">{{ current_user.firstname }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="deconnecte">Deconnexion</a>
    </li>
{% endblock %}

{% block main %}

  <a href="New">Nouvelle publication</a>

  <p></p>

  {% for field in post %}
    <div class="row">
      <div class="col">
        <h1>{{ field.title }}</h1>
        <p><em>by {{ field.user.username }}</em></p>
      </div>

      <div class="col">
        <a href="">Modifier</a>
      </div>
    </div>
    
    <p>{{ field.body }} </p>
  </div>
      
  {% endfor %}
{% endblock %}
