{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block main %}
    <br>
    <h2><center>S'identifier</center></h2>
    <form method="POST">
        {% for field in form %}
            {% if field.widget.input_type != 'hidden' %}
                {{ field.label() }}
                {% if field.errors %}
                    {% for error in field.errors %}
                    <div class="alert alert-error">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            {% endif %}
            {{ field() }}

        {% endfor %}
        <button type="submit">Connexion</button>
    </form>
{% endblock %}
