{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block main %}
<br>
<h2><center>S'enregistrer</center></h2>
<form method="POST" style="color: black;">
    {% for field in form %}
        {% if field.widget.input_type != 'hidden' %}
            {{ field.label() }}
            {% if field.errors %}
                {% for error in field.errors %}
                <div class="alert alert-error"style="color: black;">{{ error }}</div>
                {% endfor %}
            {% endif %}
        {% endif %}
        {{ field() }}

    {% endfor %}
    <button type="submit">Sauvegarder</button>
</form>
{% endblock %}
